body {
  background-color: #eee;
}

/* a {
  color: darkcyan;
  text-decoration: none;
  background-color: red;
  padding: 18px;
  border-radius: 10px;
  
}

a:link {
  color: pink;
}

a:visited {
  colobr: blue;
}

a:hover {
  color: grey;
  text-decoration: underline;
  background-color: aqua;
}

a:active {
  color: yellow;
    text-decoration: underline;
} */

ul li{

}


