body {
  background-color: #eee;
}

/* a {
  color: darkcyan;
  text-decoration: none;
  background-color: red;
  padding: 18px;
  border-radius: 10px;
  
}

a:link {
  color: pink;
}

a:visited {
  colobr: blue;
}

a:hover {
  color: grey;
  text-decoration: underline;
  background-color: aqua;
}

a:active {
  color: yellow;
    text-decoration: underline;
} */

ul li{
  /* list-style-type: lower-greek; */
}

/* ul{
  background-color:  #fff;
  border:  solid 1px #ddd;
  border-radius: 4px;
  padding-left: 0px; 
  list-style-type: none;
}

li{
  border-bottom: solid 1px #ddd;
  padding: 15px;
} */

table{
  width: 100%;
  background-color: white;
  border-collapse: collapse;
}

tr:nth-child(even){
  background-color: #f2f2f2;

}
td{
  border: 1px solid #ddd;
  padding: 8px;
}

table th{
  background-color: #4caf50;
  color: white;
  text-align: left;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 12px;
  padding-bottom: 12px;

}


