/* p{
    display: inline;
}

span{
    display: block;
} */

/* p{
    max-width: 800px;
    background-color: #f00;
} */

/* #over{
    width: 100px;
    height: 100px;
    background-color: red;
    overflow: auto;
} */

img{
    float: right;
}
div p{
    color: red;
}

img:hover{
    opacity: 0.3;
}